@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirNext LT Pro";
  src:
    url("../public/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../public/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src:
    url("../public/fonts/AvenirNextLTPro-Medium.woff2") format("woff2"),
    url("../public/fonts/AvenirNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src:
    url("../public/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../public/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src:
    url("../public/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../public/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* ANIMATION */
@keyframes crashFade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes crashAnim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-crashFade {
  animation-name: crashFade;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.animate-crashAnim {
  animation-name: crashAnim;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

body {
  font-family: "AvenirNext LT Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* background-image: url("../public/assets/bg/MainBG-Desktop.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat; */
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/bg/MainBG-Desktop.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1; /* Ensures it stays behind the content */
}

p {
  @apply text-base;
}

h1 {
  @apply text-lg font-[700] md:text-2xl;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* body, */
  body::before {
    background-image: url("../public/assets/bg/MainBG.webp"); /* Mobile background */
  }
}

@media (width: 1024px) and (height: 600px) {
  .nest-hub\:board {
    @apply -mb-14 translate-y-0 scale-70 !important;
  }
  .nest-hub\:keys {
    @apply bottom-0 -mb-[-20px] translate-y-0 scale-100 !important;
  }
  .nest-hub\:tutorial {
    @apply fixed mt-10 max-w-screen-sm;
  }
  .nest-hub\:tutorial-main {
    @apply p-5;
  }
}

@media (width: 1280px) and (height: 800px) {
  .nest-hub\:board {
    @apply -mt-52 translate-y-0 !important;
  }
  .nest-hub\:keys {
    @apply fixed bottom-0 -mb-[-45px] translate-y-0 scale-150 !important;
  }
}

/* CUSTOM */

.footer-item:not(:last-child)::after {
  content: "·";
  margin-left: 0.5em;
  margin-right: 0.5em;
}

* {
  scrollbar-gutter: none !important;
  scrollbar-width: none;
  /* overflow: auto; */
}

*::-webkit-scrollbar {
  display: none;
}

.text-glow {
  text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 15px #fff;
}

.text-glow-warning {
  text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 15px #ff9c28;
}

.filter-glow {
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 10px #fff);
}

.filter-snake-glow {
  filter: drop-shadow(0 0 2px #a396f6) drop-shadow(0 0px 1px #a396f6);
}
